# Virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables containing secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/node_modules/
frontend/.next/
